html {
    background-color: rgb(26, 0, 36);
    background-color: rgb(69, 38, 99);
}

.heroarea {
    position: relative;
}

.heroarea h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    text-align: center;
    white-space:nowrap;
    font-weight: 700;
    color: white;
    text-shadow: 0 8px 9px #400d3b;
}

.links {
    margin-bottom: 10px;
}