.description {
    margin: 0 12px 0 12px;
}

input, button {
    display:block;
    padding: 4%;
    border-radius: 0.7em;
    border: 1px solid #8b8b8b;
}

input {
    background-color: #f5f5f5;
    margin-bottom: 4%;
}

button {
    color: #ffffff;
    background-color: #793a72;
}

.separate {
    margin: 0 10px 10px;
}

.icon {
    border-radius: 50%;
    object-fit: cover;
}

.error {
    color: red;
    text-align: left;
}
