body {
    font-size: 13px;
    font-family: 'Montserrat', 'Kiwi Maru', sans-serif;
}

.main-contents {
    display: flex;
    justify-content: center;
}

.block {
    flex-grow: 1;
    max-width: 800px;
    width: 90%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding-bottom: 3%;
    margin: 7%;
    border-radius: 2em;
    box-shadow: 6px 6px 0px rgb(173, 34, 132);
}

.block-content {
    display: flex;
    flex-flow: column;
    padding: 2.5% 10% 2.5% 10%;
}

.headline {
    text-align: center;
    padding: 7.5% 7.5% 2.5% 7.5%;
    color: rgb(92, 18, 86);
}

h1,
h2 {
    font-weight: 500;
}